:root {
    --clr-beasty-orange: #e14304;
    --clr-beasty-darkgrey: #42474e;
    --clr-beasty-lightgrey: #63666a;
    --clr-beasty-white: #eee;
    --clr-beasty-black: #151415;

    
    --clr-beasty-darkblue: #000b12;
    --clr-beasty-red: #ff0000;
    --clr-beasty-lightorange: #f7cab8;

    --clr-civ-byz-emblem: #bcbc91;
    --clr-civ-byz-bg: #482569;
    --clr-civ-ootd-emblem: #242112;
    --clr-civ-ootd-bg: #eccd1e;
    --clr-civ-ayy-emblem: #681b1f;
    --clr-civ-ayy-bg: #e9d02f;
    --clr-civ-jda-emblem: #e6c20a;
    --clr-civ-jda-bg: #dbe3f3;
    --clr-civ-zxl-emblem: #ced5e2;
    --clr-civ-zxl-bg: #258587;
    --clr-civ-jap-emblem: #c29b16;
    --clr-civ-jap-bg: #e4e5e5;

    --fs-xs: 0.5em;
    --fs-s: 0.8em;
    --fs-m: 1em;
    --fs-l: 1.5em;
    --fs-xl: 2.5em;

}

* {
    font: inherit;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    box-sizing: border-box;

    /* border: 1px solid red; */
}


/* Navigation */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

nav ul { list-style-type: none; }

nav li {
    display: inline;
    margin-right: 2rem;
}

nav a {
    text-decoration: none;
    color: lightgoldenrodyellow;
    padding: 0.25rem 1rem;
    border-radius: 1rem;
}

nav button {
    padding: 0.25rem 1rem;
    background-color: var(--clr-beasty-darkgrey);
    border: 2px solid var(--clr-beasty-white);
    border-radius: 1rem;
}

#headLogo {
    background-color: var(--clr-beasty-darkgrey);
}

nav button:hover, 
nav li a:hover,
#headLogo:hover {
    color: #000;
    background-color: var(--clr-beasty-orange);
    box-shadow: 
    0 0 8px var(--clr-beasty-darkgrey),
    0 0 16px var(--clr-beasty-orange),
    0 0 40px var(--clr-beasty-orange);
}



/* Beasty Landing Page Content */

main {
    background-color: var(--clr-beasty-lightgrey);
    padding: 2.5em 4em;
}

main * {
    text-align: left;
}

#contentWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "banner banner banner"
        "civ1 civ1 content1"
        "content2 civ2 civ2";
    gap: 2.5em;
    padding-bottom: 2.5em;
}

.gridContent {
    background-color: var(--clr-beasty-orange);
    border-radius: 1em;
    box-shadow: 
    0 0 8px var(--clr-beasty-black),
    0 0 16px var(--clr-beasty-darkgrey),
    0 0 24px var(--clr-beasty-black);
}

.gridContent:hover {
    box-shadow: 
    0 0 12px var(--clr-beasty-black),
    0 0 24px var(--clr-beasty-orange),
    0 0 40px var(--clr-beasty-orange);
}

.beastyBanner {
    grid-area: banner;
    margin-bottom: 2em;
}

.civImages1 {
    grid-area: civ1;
}

.civImages2 {
    grid-area: civ2;
}

.civImages1 img,
.civImages2 img,
.beastyBanner img {
    width: 100%;
    border-radius: 1em;
}

.beastyContent1,
.beastyContent2 {
    background-color: var(--clr-beasty-orange);
    border-radius: 2em;
    padding: 1em;
}

.beastyContent1 {
    grid-area: content1;

}

.content1wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.beastyContent2 {
    grid-area: content2;
}





/* SUB GOALS PAGE */

/* GRID GOALS LISTS */

.subGoalsSection {
    display: grid;
    gap: 1em 2em;
    margin-bottom: 2em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "goals1 goals2"
        "goals1 goals3"
        "goals1 amount";
}

.goals1 { grid-area: goals1;}

.goals2 { grid-area: goals2;}

.goals3 { grid-area: goals3;}

.subAmounts { grid-area: amount;}


.goalsList {
    color: var(--clr-beasty-white);
    background-color: var(--clr-beasty-darkblue);
    padding: 1em 2em;
    border-radius: 1em;
    border: 4px solid var(--clr-beasty-red);
    box-shadow: 
        0 0 8px var(--clr-beasty-black),
        0 0 16px var(--clr-beasty-darkgrey),
        0 0 24px var(--clr-beasty-black);
}

.goalsList h1 {
    font-size: var(--fs-l);
    margin-bottom: var(--fs-xs);
    font-weight: bold;
}

.goalsList p {
    font-size: var(--fs-s);
    margin-left: 4em;
    font-weight: bold;
}




/* CHECKLIST STYLING*/

.goalsList ul {
    list-style-type: none;
}

/* The container */
.checkContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: var(--fs-xs);
    cursor: pointer;
    font-size: var(--fs-s);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
/* Hide the browser's default checkbox */
.checkContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--fs-m);
    aspect-ratio: 1;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkContainer:hover input ~ .checkmark {
    background-color: #aaa;
}

/* When the checkbox is checked, add a blue background */
.checkContainer input:checked ~ .checkmark {
    background-color: var(--clr-beasty-orange); /* #2196F3; */
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkContainer input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkContainer .checkmark:after {
    left: 5px;
    top: 1.5px;
    width: 3px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}




/* header and footer defaults */

header {
    background-color: var(--clr-beasty-black);
    padding: 0.25em 4em;
}


/* attribution */
footer {
    background-color: darkslategrey;
    color: lightgoldenrodyellow;
    padding: 0.25em 4em;
    position: fixed;
    width: 100dvw;
    bottom: 0;
    left: 0;
}

.attribution { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.attribution span { font-size: 11px; }
.attribution a { color: hsl(115, 93%, 59%); }