:root {
    --clr-beasty-orange: #e14304;
    --clr-beasty-darkgrey: #42474e;
    --clr-beasty-lightgrey: #63666a;
    --clr-beasty-white: #fff;
    --clr-beasty-black: #151415;

    --clr-civ-byz-emblem: #bcbc91;
    --clr-civ-byz-bg: #482569;
    --clr-civ-ootd-emblem: #242112;
    --clr-civ-ootd-bg: #eccd1e;
    --clr-civ-ayy-emblem: #681b1f;
    --clr-civ-ayy-bg: #e9d02f;
    --clr-civ-jda-emblem: #e6c20a;
    --clr-civ-jda-bg: #dbe3f3;
    --clr-civ-zxl-emblem: #ced5e2;
    --clr-civ-zxl-bg: #258587;
    --clr-civ-jap-emblem: #c29b16;
    --clr-civ-jap-bg: #e4e5e5;
}

* {
    font: inherit;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    box-sizing: border-box;

    /* border: 1px solid red; */
}


/* Navigation */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

nav ul { list-style-type: none; }

nav li {
    display: inline;
    margin-right: 2rem;
}

nav a {
    text-decoration: none;
    color: lightgoldenrodyellow;
    padding: 0.25rem 1rem;
    border-radius: 1rem;
}

nav button {
    padding: 0.25rem 1rem;
    background-color: var(--clr-beasty-darkgrey);
    border: 2px solid var(--clr-beasty-white);
    border-radius: 1rem;
}

#headLogo {
    background-color: var(--clr-beasty-darkgrey);
}

nav button:hover, 
nav a:hover,
#headLogo:hover {
    color: #000;
    background-color: var(--clr-beasty-orange);
}



/* Beasty Landing Page Content */

main {
    background-color: var(--clr-beasty-black);
}

#contentWrapper {
    height: 90dvh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "banner banner banner"
        "civ1 civ1 content1"
        "content2 civ2 civ2";
    gap: 1.5em;
    margin: 1.5em;
    background-color: var(--clr-beasty-darkgrey);
}



.gridContent {
    border-radius: 2em;
    background-color: #c29b16;
    padding: 1.5em;
}

.beastyBanner {
    grid-area: banner;
}

.civImages1 {
    grid-area: civ1;
}

.civImages2 {
    grid-area: civ2;
}

.civImages1 img,
.civImages2 img {
    width: 100%;

}

.beastyContent1 {
    grid-area: content1;

}

.beastyContent2 {
    grid-area: content2;
}




/* header and footer defaults */

header {
    background-color: var(--clr-beasty-black);
    padding: 0.25em 4em;
}


/* attribution */
footer {
    background-color: darkslategrey;
    color: lightgoldenrodyellow;
    padding: 0.25em 4em;
    position: fixed;
    width: 100dvw;
    bottom: 0;
    left: 0;
}

.attribution { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.attribution span { font-size: 11px; }
.attribution a { color: hsl(115, 93%, 59%); }